[irc]
server = irc.chathispano.com
port = 6667
nickname = CiberBot
ident = ciberbot
realname = Asistente de Ciberseguridad
password = 
user_modes = +B-c
channels = #canal

[admins]
nicks = TuNick

[api]
api_key = 
model_name = gemini-2.5-flash
max_parts = 2
max_history = 20

[openrouter]
api_key = 
model = google/gemma-3-27b-it:free

[groq]
api_key = 
model_name = llama-3.3-70b-versatile

[deepseek]
api_key    = 
model_name = deepseek-chat
