# pisg.cfg generado por MiLeNiUm
<channel="#boxitos">
  Logfile="/home/juanjo/ircbots/bots/milenium/juegos/core/../../stats_engine/logs/boxitos.13-05-2026.log"
  Format="mIRC"
  Network="ChatHispano"
  OutputFile="/home/juanjo/ircbots/bots/milenium/juegos/core/../../stats_engine/reports/boxitos.html"
</channel>
